body{
    /* background-image: url("../images/squared_metal.png"); */
    /* background-repeat: repeat; */
}

/* login
and
register
 */
.card{
    margin-top: 40px;
    margin-bottom: 30px;
}
.form-header{
    padding: 10px 0 5px;
    color: white;
    text-align: center;
    }
#role-dropdown{
    margin-top: 16px
}

#role-dropdown .fa-user{
    position: absolute;
    width: 3rem;
    font-size: 2rem;
}

#role-dropdown select{
    margin-left: 46px;
    color: #757575;
    height: 37px;
    border-radius: 5px;
}
 #directorate-dropdown{
    margin-top: 16px
 }
#directorate-dropdown .fa-building{
    position: absolute;
    width: 3rem;
    font-size: 2rem;
}

#directorate-dropdown select{
    margin-left: 46px;
    color: #757575;
    height: 37px;
    border-radius: 5px;
}

#btn-reg{
    background-color: #00695c;
        margin-left: 225px;
}
#btn-reg:hover{
    background-color: #00695c;
}

#btn-login{
    background-color: #00695c;
        margin-left: 225px;
}
#btn-login:hover{
    background-color: #00695c;
}

form.login{
    padding: 15px;
}

